* {
  box-sizing: border-box;
}

body {
  margin: 50px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #9fb8df;
}
.css-selector {
  font-family: 'Crimson Pro', serif;
}
